body {
    background-image: url("img/wallpaper1.jpg");
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

.content {
    background-color: rgb(240, 240, 240);
    width: 500px;
    height: 225px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
}

.form-floating {
    display: flex;
    margin-left: 50px;
    width: 154%;
    border: 1px solid black;
    border-radius: 5px;
}

.margin-top {
    margin-top: 16px;
}

.btn {
    display: flex;
    margin-left: 75%;
    width: 110px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10%;
    color: white;
}