body {
    background-image: url("img/bg3.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    }

.content {
    background-color: rgb(240, 240, 240);
    width: 900px;
    height: 530px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
}

.row {  
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    color: white;
}

.btn {
    display: flex;
    margin: auto;
    margin-bottom: 7px;
}